In [14]:
!pip install -U pip setuptools wheel
!pip install spacy

!python -m spacy download en_core_web_sm

Collecting pip
  Using cached pip-21.1.1-py3-none-any.whl (1.5 MB)
Collecting setuptools
  Using cached setuptools-56.2.0-py3-none-any.whl (785 kB)
Collecting wheel
  Using cached wheel-0.36.2-py2.py3-none-any.whl (35 kB)
Installing collected packages: pip, setuptools, wheel
  Attempting uninstall: pip
    Found existing installation: pip 20.2.4
    Uninstalling pip-20.2.4:
      Successfully uninstalled pip-20.2.4

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\Rishabh\\AppData\\Local\\Temp\\pip-uninstall-gclsrpfw\\pip.exe'
Consider using the `--user` option or check the permissions.

Collecting spacy
  Using cached spacy-3.0.6-cp38-cp38-win_amd64.whl (11.9 MB)
Collecting thinc<8.1.0,>=8.0.3
  Using cached thinc-8.0.3-cp38-cp38-win_amd64.whl (1.0 MB)
Requirement already satisfied: setuptools in c:\users\rishabh\anaconda3\lib\site-packages (from spacy) (50.3.1.post20201107)
Requirement already satisfied: jinja2 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy) (2.11.2)
Collecting catalogue<2.1.0,>=2.0.3
  Downloading catalogue-2.0.4-py3-none-any.whl (16 kB)
Collecting blis<0.8.0,>=0.4.0
  Using cached blis-0.7.4-cp38-cp38-win_amd64.whl (6.5 MB)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy) (2.24.0)
Collecting srsly<3.0.0,>=2.4.1
  Using cached srsly-2.4.1-cp38-cp38-win_amd64.whl (451 kB)
Collecting pathy>=0.3.5
  Downloading pathy-0.5.2-py3-none-any.whl (42 kB)
Requirement already satisfied: numpy>=1.15.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy) (1.19.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy) (4.50.2)
Collecting preshed<3.1.0,>=3.0.2
  Using cached preshed-3.0.5-cp38-cp38-win_amd64.whl (112 kB)
Collecting cymem<2.1.0,>=2.0.2
  Using cached cymem-2.0.5-cp38-cp38-win_amd64.whl (36 kB)
Collecting typer<0.4.0,>=0.3.0
  Using cached typer-0.3.2-py3-none-any.whl (21 kB)
Collecting pydantic<1.8.0,>=1.7.1
  Downloading pydantic-1.7.4-cp38-cp38-win_amd64.whl (1.8 MB)
Collecting murmurhash<1.1.0,>=0.28.0
  Using cached murmurhash-1.0.5-cp38-cp38-win_amd64.whl (21 kB)
Collecting wasabi<1.1.0,>=0.8.1
  Using cached wasabi-0.8.2-py3-none-any.whl (23 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy) (20.4)
Collecting spacy-legacy<3.1.0,>=3.0.4
  Using cached spacy_legacy-3.0.5-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\rishabh\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (2.4.7)
Requirement already satisfied: six in c:\users\rishabh\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (1.15.0)
Collecting smart-open<4.0.0,>=2.2.0
  Using cached smart_open-3.0.0-py3-none-any.whl
Requirement already satisfied: idna<3,>=2.5 in c:\users\rishabh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rishabh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\rishabh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\rishabh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: click<7.2.0,>=7.1.1 in c:\users\rishabh\anaconda3\lib\site-packages (from typer<0.4.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\rishabh\anaconda3\lib\site-packages (from jinja2->spacy) (1.1.1)
Installing collected packages: murmurhash, cymem, catalogue, wasabi, typer, srsly, smart-open, pydantic, preshed, blis, thinc, spacy-legacy, pathy, spacy
Successfully installed blis-0.7.4 catalogue-2.0.4 cymem-2.0.5 murmurhash-1.0.5 pathy-0.5.2 preshed-3.0.5 pydantic-1.7.4 smart-open-3.0.0 spacy-3.0.6 spacy-legacy-3.0.5 srsly-2.4.1 thinc-8.0.3 typer-0.3.2 wasabi-0.8.2
Collecting en-core-web-sm==3.0.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl (13.7 MB)
Requirement already satisfied: spacy<3.1.0,>=3.0.0 in c:\users\rishabh\anaconda3\lib\site-packages (from en-core-web-sm==3.0.0) (3.0.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.24.0)
Requirement already satisfied: packaging>=20.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (20.4)
Requirement already satisfied: typer<0.4.0,>=0.3.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (0.3.2)
Requirement already satisfied: numpy>=1.15.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.19.2)
Requirement already satisfied: setuptools in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (50.3.1.post20201107)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.4.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.3 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.0.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.0.5)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.4 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.0.5)
Requirement already satisfied: thinc<8.1.0,>=8.0.3 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (8.0.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.0.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (4.50.2)
Requirement already satisfied: pydantic<1.8.0,>=1.7.1 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.7.4)
Requirement already satisfied: pathy>=0.3.5 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (0.5.2)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (0.8.2)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (0.7.4)
Requirement already satisfied: jinja2 in c:\users\rishabh\anaconda3\lib\site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.11.2)
Requirement already satisfied: six in c:\users\rishabh\anaconda3\lib\site-packages (from packaging>=20.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\rishabh\anaconda3\lib\site-packages (from packaging>=20.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.4.7)
Requirement already satisfied: smart-open<4.0.0,>=2.2.0 in c:\users\rishabh\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.0.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\rishabh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rishabh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rishabh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\rishabh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.25.11)
Requirement already satisfied: click<7.2.0,>=7.1.1 in c:\users\rishabh\anaconda3\lib\site-packages (from typer<0.4.0,>=0.3.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\rishabh\anaconda3\lib\site-packages (from jinja2->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.1.1)
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-3.0.0
[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [1]:
import json
labeled_data = []
with open(r"C:\Users\Rishabh\Downloads\new.jsonl", "r") as read_file:
    for line in read_file:
        data = json.loads(line)
        labeled_data.append(data)

In [2]:
labelfile = open(r"C:\Users\Rishabh\Downloads\label_config.json", "r")
label_file  = json.load(labelfile)

In [3]:
type(label_file[0])

dict

In [4]:
(labeled_data[0].keys())

dict_keys(['id', 'text', 'annotations', 'meta', 'annotation_approver', 'comment_count'])

In [5]:
label_dict = { x['id']:x['text'] for x in label_file }

In [6]:
label_dict

{1: 'Name', 2: 'Occupation', 3: 'Surname', 4: 'Year'}

In [8]:
labeled_data[2]['annotations']

[{'label': 'Surname',
  'start_offset': 74,
  'end_offset': 82,
  'user': 1,
  'created_at': '2021-04-20T20:13:32.350799Z',
  'updated_at': '2021-04-20T20:13:32.350972Z'},
 {'label': 'Name',
  'start_offset': 69,
  'end_offset': 73,
  'user': 1,
  'created_at': '2021-04-20T20:13:34.537407Z',
  'updated_at': '2021-04-20T20:13:34.537447Z'},
 {'label': 'Surname',
  'start_offset': 37,
  'end_offset': 45,
  'user': 1,
  'created_at': '2021-04-20T20:13:37.249905Z',
  'updated_at': '2021-04-20T20:13:37.250020Z'},
 {'label': 'Name',
  'start_offset': 29,
  'end_offset': 36,
  'user': 1,
  'created_at': '2021-04-20T20:13:39.211290Z',
  'updated_at': '2021-04-20T20:13:39.211323Z'},
 {'label': 'Occupation',
  'start_offset': 84,
  'end_offset': 93,
  'user': 1,
  'created_at': '2021-04-20T20:14:22.505852Z',
  'updated_at': '2021-04-20T20:14:22.505872Z'},
 {'label': 'Surname',
  'start_offset': 154,
  'end_offset': 162,
  'user': 1,
  'created_at': '2021-04-20T20:14:32.371595Z',
  'updated_at': '2021-04-20T20:14:32.371617Z'},
 {'label': 'Year',
  'start_offset': 252,
  'end_offset': 260,
  'user': 1,
  'created_at': '2021-04-20T20:14:42.309780Z',
  'updated_at': '2021-04-20T20:14:42.309810Z'},
 {'label': 'Occupation',
  'start_offset': 297,
  'end_offset': 302,
  'user': 1,
  'created_at': '2021-04-20T20:15:29.309994Z',
  'updated_at': '2021-04-20T20:15:29.310028Z'},
 {'label': 'Name',
  'start_offset': 317,
  'end_offset': 324,
  'user': 1,
  'created_at': '2021-04-20T20:15:33.894373Z',
  'updated_at': '2021-04-20T20:15:33.894409Z'},
 {'label': 'Surname',
  'start_offset': 304,
  'end_offset': 315,
  'user': 1,
  'created_at': '2021-04-20T20:15:59.950858Z',
  'updated_at': '2021-04-20T20:15:59.950896Z'},
 {'label': 'Year',
  'start_offset': 329,
  'end_offset': 350,
  'user': 1,
  'created_at': '2021-04-20T20:16:09.636051Z',
  'updated_at': '2021-04-20T20:16:09.636078Z'},
 {'label': 'Year',
  'start_offset': 404,
  'end_offset': 426,
  'user': 1,
  'created_at': '2021-04-20T20:16:20.061252Z',
  'updated_at': '2021-04-20T20:16:20.061318Z'},
 {'label': 'Name',
  'start_offset': 390,
  'end_offset': 399,
  'user': 1,
  'created_at': '2021-04-20T20:16:27.652114Z',
  'updated_at': '2021-04-20T20:16:27.652137Z'},
 {'label': 'Surname',
  'start_offset': 378,
  'end_offset': 389,
  'user': 1,
  'created_at': '2021-04-20T20:16:33.493278Z',
  'updated_at': '2021-04-20T20:16:33.493336Z'},
 {'label': 'Occupation',
  'start_offset': 503,
  'end_offset': 508,
  'user': 1,
  'created_at': '2021-04-21T09:27:04.002875Z',
  'updated_at': '2021-04-21T09:27:04.002907Z'},
 {'label': 'Name',
  'start_offset': 533,
  'end_offset': 537,
  'user': 1,
  'created_at': '2021-04-21T09:27:36.534207Z',
  'updated_at': '2021-04-21T09:27:36.534265Z'},
 {'label': 'Year',
  'start_offset': 547,
  'end_offset': 560,
  'user': 1,
  'created_at': '2021-04-21T09:27:55.172290Z',
  'updated_at': '2021-04-21T09:27:55.172436Z'},
 {'label': 'Surname',
  'start_offset': 563,
  'end_offset': 571,
  'user': 1,
  'created_at': '2021-04-22T09:27:14.149081Z',
  'updated_at': '2021-04-22T09:27:14.149112Z'},
 {'label': 'Name',
  'start_offset': 573,
  'end_offset': 577,
  'user': 1,
  'created_at': '2021-04-22T09:27:20.534977Z',
  'updated_at': '2021-04-22T09:27:20.535011Z'},
 {'label': 'Surname',
  'start_offset': 596,
  'end_offset': 603,
  'user': 1,
  'created_at': '2021-04-22T09:28:35.989197Z',
  'updated_at': '2021-04-22T09:28:35.989285Z'},
 {'label': 'Name',
  'start_offset': 682,
  'end_offset': 688,
  'user': 1,
  'created_at': '2021-04-22T09:28:57.442142Z',
  'updated_at': '2021-04-22T09:28:57.442176Z'},
 {'label': 'Name',
  'start_offset': 677,
  'end_offset': 681,
  'user': 1,
  'created_at': '2021-04-22T09:29:01.353738Z',
  'updated_at': '2021-04-22T09:29:01.353780Z'},
 {'label': 'Occupation',
  'start_offset': 706,
  'end_offset': 712,
  'user': 1,
  'created_at': '2021-04-22T09:29:28.004718Z',
  'updated_at': '2021-04-22T09:29:28.004867Z'},
 {'label': 'Year',
  'start_offset': 713,
  'end_offset': 719,
  'user': 1,
  'created_at': '2021-04-22T09:29:33.119821Z',
  'updated_at': '2021-04-22T09:29:33.119906Z'},
 {'label': 'Year',
  'start_offset': 787,
  'end_offset': 801,
  'user': 1,
  'created_at': '2021-04-22T09:30:08.607514Z',
  'updated_at': '2021-04-22T09:30:08.607647Z'},
 {'label': 'Year',
  'start_offset': 801,
  'end_offset': 808,
  'user': 1,
  'created_at': '2021-04-22T09:30:14.007982Z',
  'updated_at': '2021-04-22T09:30:14.008116Z'},
 {'label': 'Occupation',
  'start_offset': 858,
  'end_offset': 869,
  'user': 1,
  'created_at': '2021-04-22T09:31:58.634917Z',
  'updated_at': '2021-04-22T09:35:32.715098Z'},
 {'label': 'Year',
  'start_offset': 870,
  'end_offset': 876,
  'user': 1,
  'created_at': '2021-04-22T09:32:04.590631Z',
  'updated_at': '2021-04-22T09:32:04.590692Z'},
 {'label': 'Occupation',
  'start_offset': 833,
  'end_offset': 836,
  'user': 1,
  'created_at': '2021-04-22T09:32:58.383839Z',
  'updated_at': '2021-04-22T09:32:58.383890Z'},
 {'label': 'Name',
  'start_offset': 886,
  'end_offset': 892,
  'user': 1,
  'created_at': '2021-04-22T09:33:02.826356Z',
  'updated_at': '2021-04-22T09:33:02.826385Z'},
 {'label': 'Surname',
  'start_offset': 879,
  'end_offset': 885,
  'user': 1,
  'created_at': '2021-04-22T09:33:09.936462Z',
  'updated_at': '2021-04-22T09:33:09.936502Z'},
 {'label': 'Year',
  'start_offset': 894,
  'end_offset': 905,
  'user': 1,
  'created_at': '2021-04-22T09:33:14.496721Z',
  'updated_at': '2021-04-22T09:33:14.496775Z'},
 {'label': 'Occupation',
  'start_offset': 913,
  'end_offset': 921,
  'user': 1,
  'created_at': '2021-04-22T09:33:45.381469Z',
  'updated_at': '2021-04-22T09:33:45.381619Z'},
 {'label': 'Occupation',
  'start_offset': 926,
  'end_offset': 932,
  'user': 1,
  'created_at': '2021-04-22T09:34:00.077737Z',
  'updated_at': '2021-04-22T09:34:00.077779Z'},
 {'label': 'Year',
  'start_offset': 933,
  'end_offset': 939,
  'user': 1,
  'created_at': '2021-04-22T09:34:04.108185Z',
  'updated_at': '2021-04-22T09:34:04.108248Z'},
 {'label': 'Occupation',
  'start_offset': 941,
  'end_offset': 950,
  'user': 1,
  'created_at': '2021-04-22T09:34:21.294006Z',
  'updated_at': '2021-04-22T09:34:21.294093Z'},
 {'label': 'Year',
  'start_offset': 951,
  'end_offset': 957,
  'user': 1,
  'created_at': '2021-04-22T09:34:24.958119Z',
  'updated_at': '2021-04-22T09:34:24.958173Z'},
 {'label': 'Name',
  'start_offset': 966,
  'end_offset': 972,
  'user': 1,
  'created_at': '2021-04-22T09:34:29.037759Z',
  'updated_at': '2021-04-22T09:34:29.037840Z'},
 {'label': 'Surname',
  'start_offset': 958,
  'end_offset': 964,
  'user': 1,
  'created_at': '2021-04-22T09:34:32.983115Z',
  'updated_at': '2021-04-22T09:34:32.983193Z'},
 {'label': 'Year',
  'start_offset': 974,
  'end_offset': 985,
  'user': 1,
  'created_at': '2021-04-22T09:34:36.457017Z',
  'updated_at': '2021-04-22T09:34:36.457053Z'},
 {'label': 'Occupation',
  'start_offset': 1004,
  'end_offset': 1010,
  'user': 1,
  'created_at': '2021-04-22T09:34:58.326518Z',
  'updated_at': '2021-04-22T09:34:58.326609Z'},
 {'label': 'Occupation',
  'start_offset': 1015,
  'end_offset': 1021,
  'user': 1,
  'created_at': '2021-04-22T09:35:01.320066Z',
  'updated_at': '2021-04-22T09:35:01.320459Z'},
 {'label': 'Occupation',
  'start_offset': 1035,
  'end_offset': 1042,
  'user': 1,
  'created_at': '2021-04-22T09:35:27.802681Z',
  'updated_at': '2021-04-22T09:35:27.802836Z'},
 {'label': 'Name',
  'start_offset': 1057,
  'end_offset': 1063,
  'user': 1,
  'created_at': '2021-04-22T09:35:39.048969Z',
  'updated_at': '2021-04-22T09:35:39.049061Z'},
 {'label': 'Year',
  'start_offset': 1082,
  'end_offset': 1105,
  'user': 1,
  'created_at': '2021-04-22T09:35:43.620803Z',
  'updated_at': '2021-04-22T09:35:43.621189Z'},
 {'label': 'Name',
  'start_offset': 1131,
  'end_offset': 1136,
  'user': 1,
  'created_at': '2021-04-22T09:35:47.357733Z',
  'updated_at': '2021-04-22T09:35:47.357868Z'},
 {'label': 'Surname',
  'start_offset': 1136,
  'end_offset': 1143,
  'user': 1,
  'created_at': '2021-04-22T09:35:51.681599Z',
  'updated_at': '2021-04-22T09:35:51.681674Z'},
 {'label': 'Year',
  'start_offset': 1173,
  'end_offset': 1177,
  'user': 1,
  'created_at': '2021-04-22T09:36:05.265175Z',
  'updated_at': '2021-04-22T09:36:05.265266Z'},
 {'label': 'Surname',
  'start_offset': 1183,
  'end_offset': 1191,
  'user': 1,
  'created_at': '2021-04-22T09:36:10.738094Z',
  'updated_at': '2021-04-22T09:36:10.738189Z'},
 {'label': 'Year',
  'start_offset': 1213,
  'end_offset': 1223,
  'user': 1,
  'created_at': '2021-04-22T09:36:23.028030Z',
  'updated_at': '2021-04-22T09:36:23.028112Z'},
 {'label': 'Name',
  'start_offset': 1247,
  'end_offset': 1255,
  'user': 1,
  'created_at': '2021-04-22T09:37:02.307966Z',
  'updated_at': '2021-04-22T09:37:02.308123Z'},
 {'label': 'Occupation',
  'start_offset': 1259,
  'end_offset': 1267,
  'user': 1,
  'created_at': '2021-04-22T09:37:20.740954Z',
  'updated_at': '2021-04-22T09:37:20.741042Z'},
 {'label': 'Occupation',
  'start_offset': 810,
  'end_offset': 819,
  'user': 1,
  'created_at': '2021-04-22T09:41:27.906002Z',
  'updated_at': '2021-04-22T09:41:27.906095Z'},
 {'label': 'Surname',
  'start_offset': 1284,
  'end_offset': 1291,
  'user': 1,
  'created_at': '2021-04-22T09:42:24.468874Z',
  'updated_at': '2021-04-22T09:42:24.468951Z'},
 {'label': 'Name',
  'start_offset': 1293,
  'end_offset': 1299,
  'user': 1,
  'created_at': '2021-04-22T09:42:27.872587Z',
  'updated_at': '2021-04-22T09:42:27.872672Z'},
 {'label': 'Year',
  'start_offset': 1306,
  'end_offset': 1311,
  'user': 1,
  'created_at': '2021-04-22T09:42:32.448137Z',
  'updated_at': '2021-04-22T09:42:32.448266Z'},
 {'label': 'Name',
  'start_offset': 1318,
  'end_offset': 1321,
  'user': 1,
  'created_at': '2021-04-22T09:42:50.695579Z',
  'updated_at': '2021-04-22T09:42:50.695628Z'},
 {'label': 'Surname',
  'start_offset': 1321,
  'end_offset': 1329,
  'user': 1,
  'created_at': '2021-04-22T09:42:55.958217Z',
  'updated_at': '2021-04-22T09:42:55.958274Z'},
 {'label': 'Year',
  'start_offset': 1363,
  'end_offset': 1367,
  'user': 1,
  'created_at': '2021-04-22T09:43:02.077385Z',
  'updated_at': '2021-04-22T09:43:02.077491Z'},
 {'label': 'Occupation',
  'start_offset': 1494,
  'end_offset': 1499,
  'user': 1,
  'created_at': '2021-04-22T09:43:22.506321Z',
  'updated_at': '2021-04-22T09:43:22.506751Z'},
 {'label': 'Surname',
  'start_offset': 1478,
  'end_offset': 1486,
  'user': 1,
  'created_at': '2021-04-22T09:43:29.841234Z',
  'updated_at': '2021-04-22T09:43:29.841384Z'},
 {'label': 'Name',
  'start_offset': 1488,
  'end_offset': 1492,
  'user': 1,
  'created_at': '2021-04-22T09:43:33.843446Z',
  'updated_at': '2021-04-22T09:43:33.843525Z'},
 {'label': 'Year',
  'start_offset': 1505,
  'end_offset': 1509,
  'user': 1,
  'created_at': '2021-04-22T09:43:41.035432Z',
  'updated_at': '2021-04-22T09:43:41.035553Z'},
 {'label': 'Name',
  'start_offset': 1514,
  'end_offset': 1522,
  'user': 1,
  'created_at': '2021-04-22T09:45:54.479675Z',
  'updated_at': '2021-04-22T09:45:54.479714Z'},
 {'label': 'Occupation',
  'start_offset': 1522,
  'end_offset': 1529,
  'user': 1,
  'created_at': '2021-04-22T09:45:58.078279Z',
  'updated_at': '2021-04-22T09:45:58.078450Z'},
 {'label': 'Name',
  'start_offset': 1534,
  'end_offset': 1540,
  'user': 1,
  'created_at': '2021-04-22T09:46:01.306537Z',
  'updated_at': '2021-04-22T09:46:01.306634Z'},
 {'label': 'Occupation',
  'start_offset': 1545,
  'end_offset': 1552,
  'user': 1,
  'created_at': '2021-04-22T09:46:05.486925Z',
  'updated_at': '2021-04-22T09:46:05.487001Z'},
 {'label': 'Surname',
  'start_offset': 1591,
  'end_offset': 1597,
  'user': 1,
  'created_at': '2021-04-22T09:46:44.127406Z',
  'updated_at': '2021-04-22T09:46:44.127620Z'},
 {'label': 'Name',
  'start_offset': 1599,
  'end_offset': 1604,
  'user': 1,
  'created_at': '2021-04-22T09:46:48.246535Z',
  'updated_at': '2021-04-22T09:46:48.246620Z'},
 {'label': 'Year',
  'start_offset': 1614,
  'end_offset': 1618,
  'user': 1,
  'created_at': '2021-04-22T09:46:52.418265Z',
  'updated_at': '2021-04-22T09:46:52.418323Z'},
 {'label': 'Occupation',
  'start_offset': 1711,
  'end_offset': 1717,
  'user': 1,
  'created_at': '2021-04-22T09:47:29.001295Z',
  'updated_at': '2021-04-22T09:47:29.001374Z'},
 {'label': 'Name',
  'start_offset': 1701,
  'end_offset': 1706,
  'user': 1,
  'created_at': '2021-04-22T09:47:31.959020Z',
  'updated_at': '2021-04-22T09:47:31.959111Z'},
 {'label': 'Year',
  'start_offset': 1725,
  'end_offset': 1731,
  'user': 1,
  'created_at': '2021-04-22T09:47:50.987644Z',
  'updated_at': '2021-04-22T09:47:50.987741Z'},
 {'label': 'Name',
  'start_offset': 1773,
  'end_offset': 1782,
  'user': 1,
  'created_at': '2021-04-22T09:47:59.148751Z',
  'updated_at': '2021-04-22T09:47:59.148836Z'},
 {'label': 'Year',
  'start_offset': 1799,
  'end_offset': 1805,
  'user': 1,
  'created_at': '2021-04-22T09:48:03.211742Z',
  'updated_at': '2021-04-22T09:48:03.211849Z'},
 {'label': 'Name',
  'start_offset': 1815,
  'end_offset': 1821,
  'user': 1,
  'created_at': '2021-04-22T09:48:07.684698Z',
  'updated_at': '2021-04-22T09:48:07.684758Z'},
 {'label': 'Surname',
  'start_offset': 1808,
  'end_offset': 1814,
  'user': 1,
  'created_at': '2021-04-22T09:48:12.642916Z',
  'updated_at': '2021-04-22T09:48:12.643160Z'},
 {'label': 'Name',
  'start_offset': 1853,
  'end_offset': 1859,
  'user': 1,
  'created_at': '2021-04-22T09:48:18.843631Z',
  'updated_at': '2021-04-22T09:48:18.843745Z'},
 {'label': 'Name',
  'start_offset': 1883,
  'end_offset': 1889,
  'user': 1,
  'created_at': '2021-04-22T09:49:05.583926Z',
  'updated_at': '2021-04-22T09:49:05.584219Z'},
 {'label': 'Surname',
  'start_offset': 1890,
  'end_offset': 1899,
  'user': 1,
  'created_at': '2021-04-22T09:49:09.777666Z',
  'updated_at': '2021-04-22T09:49:09.777740Z'},
 {'label': 'Surname',
  'start_offset': 1901,
  'end_offset': 1907,
  'user': 1,
  'created_at': '2021-04-22T09:49:13.721191Z',
  'updated_at': '2021-04-22T09:49:13.721252Z'},
 {'label': 'Name',
  'start_offset': 1909,
  'end_offset': 1916,
  'user': 1,
  'created_at': '2021-04-22T09:49:18.460863Z',
  'updated_at': '2021-04-22T09:49:18.460948Z'},
 {'label': 'Name',
  'start_offset': 1921,
  'end_offset': 1928,
  'user': 1,
  'created_at': '2021-04-22T09:49:24.546923Z',
  'updated_at': '2021-04-22T09:49:24.547046Z'},
 {'label': 'Surname',
  'start_offset': 1929,
  'end_offset': 1936,
  'user': 1,
  'created_at': '2021-04-22T09:49:28.172349Z',
  'updated_at': '2021-04-22T09:49:28.172408Z'},
 {'label': 'Name',
  'start_offset': 1980,
  'end_offset': 1986,
  'user': 1,
  'created_at': '2021-04-22T09:49:38.327289Z',
  'updated_at': '2021-04-22T09:49:38.327329Z'},
 {'label': 'Surname',
  'start_offset': 1974,
  'end_offset': 1978,
  'user': 1,
  'created_at': '2021-04-22T09:49:41.139602Z',
  'updated_at': '2021-04-22T09:49:41.139723Z'},
 {'label': 'Year',
  'start_offset': 2002,
  'end_offset': 2006,
  'user': 1,
  'created_at': '2021-04-22T09:49:58.178408Z',
  'updated_at': '2021-04-22T09:49:58.178483Z'},
 {'label': 'Name',
  'start_offset': 2034,
  'end_offset': 2040,
  'user': 1,
  'created_at': '2021-04-22T09:59:58.616268Z',
  'updated_at': '2021-04-22T09:59:58.616549Z'},
 {'label': 'Year',
  'start_offset': 2028,
  'end_offset': 2032,
  'user': 1,
  'created_at': '2021-04-22T10:00:02.990862Z',
  'updated_at': '2021-04-22T10:00:02.990923Z'},
 {'label': 'Surname',
  'start_offset': 2058,
  'end_offset': 2066,
  'user': 1,
  'created_at': '2021-04-22T10:00:08.864399Z',
  'updated_at': '2021-04-22T10:00:08.864553Z'},
 {'label': 'Name',
  'start_offset': 2053,
  'end_offset': 2057,
  'user': 1,
  'created_at': '2021-04-22T10:00:13.608801Z',
  'updated_at': '2021-04-22T10:00:13.608981Z'},
 {'label': 'Name',
  'start_offset': 2072,
  'end_offset': 2078,
  'user': 1,
  'created_at': '2021-04-22T10:16:43.370182Z',
  'updated_at': '2021-04-22T10:16:43.370262Z'},
 {'label': 'Surname',
  'start_offset': 2108,
  'end_offset': 2116,
  'user': 1,
  'created_at': '2021-04-22T10:16:51.255668Z',
  'updated_at': '2021-04-22T10:16:51.255815Z'},
 {'label': 'Name',
  'start_offset': 2103,
  'end_offset': 2107,
  'user': 1,
  'created_at': '2021-04-22T10:16:54.760826Z',
  'updated_at': '2021-04-22T10:16:54.760914Z'},
 {'label': 'Surname',
  'start_offset': 2118,
  'end_offset': 2122,
  'user': 1,
  'created_at': '2021-04-22T10:17:04.945997Z',
  'updated_at': '2021-04-22T10:17:04.946030Z'},
 {'label': 'Name',
  'start_offset': 2124,
  'end_offset': 2130,
  'user': 1,
  'created_at': '2021-04-22T10:17:09.415178Z',
  'updated_at': '2021-04-22T10:17:09.415319Z'},
 {'label': 'Surname',
  'start_offset': 2142,
  'end_offset': 2147,
  'user': 1,
  'created_at': '2021-04-22T10:17:13.957239Z',
  'updated_at': '2021-04-22T10:17:13.957300Z'},
 {'label': 'Surname',
  'start_offset': 2213,
  'end_offset': 2223,
  'user': 1,
  'created_at': '2021-04-22T10:18:26.945395Z',
  'updated_at': '2021-04-22T10:18:26.945485Z'},
 {'label': 'Surname',
  'start_offset': 2239,
  'end_offset': 2250,
  'user': 1,
  'created_at': '2021-04-22T10:18:34.009217Z',
  'updated_at': '2021-04-22T10:18:34.009318Z'},
 {'label': 'Surname',
  'start_offset': 2174,
  'end_offset': 2178,
  'user': 1,
  'created_at': '2021-04-22T10:19:42.146564Z',
  'updated_at': '2021-04-22T10:19:42.146652Z'},
 {'label': 'Name',
  'start_offset': 2180,
  'end_offset': 2185,
  'user': 1,
  'created_at': '2021-04-22T10:19:46.093339Z',
  'updated_at': '2021-04-22T10:19:46.093414Z'},
 {'label': 'Name',
  'start_offset': 2259,
  'end_offset': 2263,
  'user': 1,
  'created_at': '2021-04-22T10:21:31.397412Z',
  'updated_at': '2021-04-22T10:21:31.397487Z'},
 {'label': 'Surname',
  'start_offset': 2327,
  'end_offset': 2335,
  'user': 1,
  'created_at': '2021-04-22T10:21:52.341595Z',
  'updated_at': '2021-04-22T10:21:52.341674Z'},
 {'label': 'Name',
  'start_offset': 2345,
  'end_offset': 2349,
  'user': 1,
  'created_at': '2021-04-22T10:21:55.645593Z',
  'updated_at': '2021-04-22T10:21:55.645670Z'},
 {'label': 'Year',
  'start_offset': 2339,
  'end_offset': 2343,
  'user': 1,
  'created_at': '2021-04-22T10:21:58.644853Z',
  'updated_at': '2021-04-22T10:21:58.645086Z'},
 {'label': 'Occupation',
  'start_offset': 2356,
  'end_offset': 2361,
  'user': 1,
  'created_at': '2021-04-22T10:22:06.833827Z',
  'updated_at': '2021-04-22T10:22:06.833896Z'},
 {'label': 'Occupation',
  'start_offset': 2438,
  'end_offset': 2450,
  'user': 1,
  'created_at': '2021-04-22T10:22:40.381277Z',
  'updated_at': '2021-04-22T10:22:40.381448Z'},
 {'label': 'Occupation',
  'start_offset': 2486,
  'end_offset': 2494,
  'user': 1,
  'created_at': '2021-04-22T10:23:34.849391Z',
  'updated_at': '2021-04-22T10:23:34.849465Z'},
 {'label': 'Year',
  'start_offset': 2507,
  'end_offset': 2511,
  'user': 1,
  'created_at': '2021-04-22T10:23:40.134777Z',
  'updated_at': '2021-04-22T10:23:40.134855Z'},
 {'label': 'Surname',
  'start_offset': 2519,
  'end_offset': 2526,
  'user': 1,
  'created_at': '2021-04-22T10:23:48.339469Z',
  'updated_at': '2021-04-22T10:23:48.339546Z'},
 {'label': 'Name',
  'start_offset': 2528,
  'end_offset': 2532,
  'user': 1,
  'created_at': '2021-04-22T10:23:55.333646Z',
  'updated_at': '2021-04-22T10:23:55.333722Z'},
 {'label': 'Year',
  'start_offset': 2547,
  'end_offset': 2551,
  'user': 1,
  'created_at': '2021-04-22T10:23:58.456196Z',
  'updated_at': '2021-04-22T10:23:58.456283Z'},
 {'label': 'Year',
  'start_offset': 2538,
  'end_offset': 2542,
  'user': 1,
  'created_at': '2021-04-22T10:24:01.312453Z',
  'updated_at': '2021-04-22T10:24:01.312533Z'},
 {'label': 'Name',
  'start_offset': 2637,
  'end_offset': 2642,
  'user': 1,
  'created_at': '2021-04-22T10:24:06.027241Z',
  'updated_at': '2021-04-22T10:24:06.027324Z'},
 {'label': 'Occupation',
  'start_offset': 2697,
  'end_offset': 2703,
  'user': 1,
  'created_at': '2021-04-22T10:24:10.735971Z',

In [9]:
labeled_data

[{'id': 1,
  'text': 'NAMES OF PERSONS A Abbat, William (A. 1464-71).Abbott. 372. ?Inhabited 372. Baker; entered liberty of city 1469-70 (CA). Subsidy 8d. (1464). Abbelyn, Agnes (ft. 1440-54). From her ?relative John Ablyn: 1005. Abbod, Roger (A. by 1309). Part 734. Abbodeston, William (fl. 1350-91). Abboteston, de Abbotestone.. 50-6G and H, 61, 62, 305. Married (by 1366) Eve. Butcher 1350-86, inspector of carcasses 1364 (CR). Assessor of fines 1371 (CR); citizen by 1374. Eve wife of (fl. by 1366; 1391). de Abbodeston, Richard (fl. 1327-32). ?994-5, part 1100. Possibly related to Henry Abbotestone. Inhabited ?994-5. ?Draper. Subsidy 4s. (1327), 6s. (1332). Abbot, John (fl. 1582). Part 351. Abraham Pinch (fl. 1230; d. 1236). ?281-8D. Jew. Accused of theft of florins 1230 (Justl/775); Roger Alis, Thomas de Bromden, and Reginald de Moyun owed him money 1230-1 (Cal Close R 1227- 31, pp. 428, 539, 550); Hugh de Godeshull owed him money 1235 (Cal Close R 1234-7, p. 81); other debtors included Adam de Rutherefeud, Bartholomew de Ellested, and William de Boleyn of Easton (Exc Fine R, 8, 234; Cal Plea REJ i, 196). Hanged for felony 1236 (allegedly child-murder) (Cal Close R 1234-7, pp. 239, 271, 341; Just1/775). Abraham (son of) Cokerel (fl. 1290). ?Part 281-8B and C. Jew. Abraham son of Elias (fl. c. 1222-73). Part 27/30-2. Jew. Claimed debts at Wilton 1244-5; John de Pratellis owed him money 1248, John Holebury owed him money before 1253 (Cal Plea REJ i, 97; Cal Pat R 1247-50, pp. 20, 119). Butcher. Abboteston, William, v. William Abbodeston. de Abboteston, Joan, v. widow of Henry Abbotestone. AAbraham, John (fl. 1335). From his father Abraham de V Abbotestone, Henry (fl. 1340; d. by 1347). Abodeston. From his ?relative Richard de Abbodeston: ?994-5. Abraham, Robert (fl. 1335; ?d. by 1362). From his V Married (by 1347) Joan de Abboteston. Father of Isabel. * Abraham. Reynham: part 66. Brother of Robert Abraham. Inhabited ?994-5. Subsidy 6s. (1340). Isabel daughter of (fl. 1347, 1357). From her father: ?994-5. ~~, Joan de Abboteston widow of (fl. 1347). From her X husband: ?994-5. Mother of Isabel. ?Inhabited ?994-5. father Abraham de Reynham: part 66. Brother of John Abraham. A Abraham, Thomas (fl. 1350). 1002. V Abyndone, John, v. John Abyn(g)done. Abyn(g)done, John (fl. 1408-17). Ablyndon. 195, 501. Clerk 1411, chaplain 1417. le Acatour, John, v. John le Ac(h)atour. H Ace, John (A. 1337). 5/245-6. Possibly related to Wil- de Abbotestone, William, v. William Abbodeston. Abbott, Henry (fl. 1582-1604). Part 485. Abbott, William, v. William Abbat. Aber, Mrs. (fl. 1590-1604). From her ?husband William Aber: 553, 557-8. Also held: 530. Aber, William (1. 1590; ?d. by 1604). 553, 557-8. Prob- ably husband of Mrs. Aber. Ablyn, John (fl. 1404-26). Aubelyn. 1005, ?part 1006, Ace, William alias William Hichecok (d. by 1334), v. ?1007. Probably related to Agnes Abbelyn and pos- following. sibly to Philip Aubyn III. Corveser. liam Ace alias William Hichecok. Rector of Brown Candover. A Ace, Richard (fl. by 1317). Part 421. V Dyer. A Ace, William (fl. by 1378). From his father William As: part 629. Ace, William (f1. 1333, by 1346), v. William As. Ablyndon, John, v. John Abyn(g)done. Abodeston, Henry, v. Henry Abbotestone. Abraham (fl. c. 1222-73). ?Part 27/30-2. Jew *Abraham son of Elias. Possibly related to John Ace. ~~, Agnes widow of, v. Agnes ?daughter of John Tusy. Achard, Nicholas, v. Nicholas (H)Achard. tle Ac(h)atour, John alias John de Harden, of Reading (Al. by 1320; d. by 1381). le Akatour, le Cat(o)ur. 50-6D, 479-81, ?608, part 618-19, 622-3, ?649. Married (by 1320) Florence. Later married (by 1354) Margaret daughter of John de Kyrkeby II. Abraham Cokerel, v. Abraham (son of) Cokerel.',
  'annotations': [{'label': 'Occupation',
    'start_offset': 76,
    'end_offset': 81,
    'user': 1,
    'created_at': '2021-04-11T16:27:51.795558Z',
    'updated_at': '2021-04-11T16:27:51.795725Z'},
   {'label': 'Year',
    'start_offset': 366,
    'end_offset': 373,
    'user': 1,
    'created_at': '2021-04-11T16:32:49.364189Z',
    'updated_at': '2021-04-11T16:32:49.364269Z'},
   {'label': 'Occupation',
    'start_offset': 375,
    'end_offset': 397,
    'user': 1,
    'created_at': '2021-04-11T16:32:57.665277Z',
    'updated_at': '2021-04-11T16:32:57.665333Z'},
   {'label': 'Occupation',
    'start_offset': 409,
    'end_offset': 426,
    'user': 1,
    'created_at': '2021-04-11T16:33:04.335891Z',
    'updated_at': '2021-04-11T16:33:04.335950Z'},
   {'label': 'Name',
    'start_offset': 454,
    'end_offset': 459,
    'user': 1,
    'created_at': '2021-04-11T16:33:11.502472Z',
    'updated_at': '2021-04-11T16:33:11.502523Z'},
   {'label': 'Occupation',
    'start_offset': 603,
    'end_offset': 609,
    'user': 1,
    'created_at': '2021-04-11T16:34:02.196502Z',
    'updated_at': '2021-04-11T16:34:02.196550Z'},
   {'label': 'Occupation',
    'start_offset': 358,
    'end_offset': 366,
    'user': 1,
    'created_at': '2021-04-11T16:37:48.205449Z',
    'updated_at': '2021-04-11T16:37:48.205514Z'},
   {'label': 'Year',
    'start_offset': 1226,
    'end_offset': 1236,
    'user': 1,
    'created_at': '2021-04-11T16:40:26.640213Z',
    'updated_at': '2021-04-11T16:40:26.640335Z'},
   {'label': 'Occupation',
    'start_offset': 1487,
    'end_offset': 1494,
    'user': 1,
    'created_at': '2021-04-11T16:48:06.825729Z',
    'updated_at': '2021-04-11T16:48:06.825832Z'},
   {'label': 'Year',
    'start_offset': 1607,
    'end_offset': 1617,
    'user': 1,
    'created_at': '2021-04-11T16:49:50.197155Z',
    'updated_at': '2021-04-11T16:49:50.197192Z'},
   {'label': 'Name',
    'start_offset': 1954,
    'end_offset': 1960,
    'user': 1,
    'created_at': '2021-04-11T16:51:42.452314Z',
    'updated_at': '2021-04-11T16:51:42.452367Z'},
   {'label': 'Name',
    'start_offset': 3092,
    'end_offset': 3099,
    'user': 1,
    'created_at': '2021-04-12T14:34:07.483184Z',
    'updated_at': '2021-04-12T14:34:07.483216Z'},
   {'label': 'Year',
    'start_offset': 3013,
    'end_offset': 3026,
    'user': 1,
    'created_at': '2021-04-12T14:35:35.110242Z',
    'updated_at': '2021-04-12T14:35:35.110335Z'},
   {'label': 'Surname',
    'start_offset': 19,
    'end_offset': 24,
    'user': 1,
    'created_at': '2021-04-19T18:48:42.157687Z',
    'updated_at': '2021-04-19T18:50:49.859752Z'},
   {'label': 'Year',
    'start_offset': 35,
    'end_offset': 45,
    'user': 1,
    'created_at': '2021-04-19T18:50:23.763539Z',
    'updated_at': '2021-04-19T18:50:23.763603Z'},
   {'label': 'Name',
    'start_offset': 26,
    'end_offset': 33,
    'user': 1,
    'created_at': '2021-04-19T18:50:46.435580Z',
    'updated_at': '2021-04-19T18:50:46.435648Z'},
   {'label': 'Surname',
    'start_offset': 141,
    'end_offset': 148,
    'user': 1,
    'created_at': '2021-04-19T18:51:09.468839Z',
    'updated_at': '2021-04-19T18:51:09.468953Z'},
   {'label': 'Name',
    'start_offset': 150,
    'end_offset': 155,
    'user': 1,
    'created_at': '2021-04-19T18:51:22.191444Z',
    'updated_at': '2021-04-19T18:51:22.191521Z'},
   {'label': 'Year',
    'start_offset': 157,
    'end_offset': 168,
    'user': 1,
    'created_at': '2021-04-19T18:51:33.482244Z',
    'updated_at': '2021-04-19T18:51:33.482324Z'},
   {'label': 'Surname',
    'start_offset': 195,
    'end_offset': 200,
    'user': 1,
    'created_at': '2021-04-19T18:52:15.137081Z',
    'updated_at': '2021-04-19T18:52:15.137157Z'},
   {'label': 'Name',
    'start_offset': 189,
    'end_offset': 194,
    'user': 1,
    'created_at': '2021-04-19T18:52:19.204532Z',
    'updated_at': '2021-04-19T18:52:19.204610Z'},
   {'label': 'Name',
    'start_offset': 215,
    'end_offset': 220,
    'user': 1,
    'created_at': '2021-04-19T18:52:29.758232Z',
    'updated_at': '2021-04-19T18:52:29.758322Z'},
   {'label': 'Surname',
    'start_offset': 208,
    'end_offset': 213,
    'user': 1,
    'created_at': '2021-04-19T18:52:34.198051Z',
    'updated_at': '2021-04-19T18:52:34.198119Z'},
   {'label': 'Year',
    'start_offset': 222,
    'end_offset': 232,
    'user': 1,
    'created_at': '2021-04-19T18:52:42.601238Z',
    'updated_at': '2021-04-19T18:52:42.601323Z'},
   {'label': 'Name',
    'start_offset': 257,
    'end_offset': 264,
    'user': 1,
    'created_at': '2021-04-19T18:52:49.421753Z',
    'updated_at': '2021-04-19T18:52:49.421918Z'},
   {'label': 'Surname',
    'start_offset': 245,
    'end_offset': 255,
    'user': 1,
    'created_at': '2021-04-19T18:52:54.627935Z',
    'updated_at': '2021-04-19T18:52:54.628031Z'},
   {'label': 'Year',
    'start_offset': 266,
    'end_offset': 277,
    'user': 1,
    'created_at': '2021-04-19T18:53:15.510205Z',
    'updated_at': '2021-04-19T18:53:15.510378Z'},
   {'label': 'Surname',
    'start_offset': 280,
    'end_offset': 290,
    'user': 1,
    'created_at': '2021-04-19T18:54:39.660402Z',
    'updated_at': '2021-04-19T18:54:39.660469Z'},
   {'label': 'Name',
    'start_offset': 353,
    'end_offset': 356,
    'user': 1,
    'created_at': '2021-04-19T18:55:18.245328Z',
    'updated_at': '2021-04-19T18:55:18.245416Z'},
   {'label': 'Name',
    'start_offset': 502,
    'end_offset': 510,
    'user': 1,
    'created_at': '2021-04-19T18:55:51.720180Z',
    'updated_at': '2021-04-19T18:55:51.720219Z'},
   {'label': 'Surname',
    'start_offset': 488,
    'end_offset': 501,
    'user': 1,
    'created_at': '2021-04-19T18:55:55.993080Z',
    'updated_at': '2021-04-19T18:55:55.993214Z'},
   {'label': 'Year',
    'start_offset': 468,
    'end_offset': 485,
    'user': 1,
    'created_at': '2021-04-19T18:56:08.487830Z',
    'updated_at': '2021-04-19T18:56:08.487886Z'},
   {'label': 'Year',
    'start_offset': 512,
    'end_offset': 523,
    'user': 1,
    'created_at': '2021-04-19T18:56:16.498316Z',
    'updated_at': '2021-04-19T18:56:16.498392Z'},
   {'label': 'Name',
    'start_offset': 565,
    'end_offset': 570,
    'user': 1,
    'created_at': '2021-04-19T18:56:46.232089Z',
    'updated_at': '2021-04-19T18:56:46.232205Z'},
   {'label': 'Surname',
    'start_offset': 570,
    'end_offset': 582,
    'user': 1,
    'created_at': '2021-04-19T18:56:50.736413Z',
    'updated_at': '2021-04-19T18:56:50.736544Z'},
   {'label': 'Name',
    'start_offset': 650,
    'end_offset': 654,
    'user': 1,
    'created_at': '2021-04-19T18:57:00.552318Z',
    'updated_at': '2021-04-19T18:57:00.552401Z'},
   {'label': 'Surname',
    'start_offset': 642,
    'end_offset': 648,
    'user': 1,
    'created_at': '2021-04-19T18:57:06.787816Z',
    'updated_at': '2021-04-19T18:57:06.787880Z'},
   {'label': 'Year',
    'start_offset': 656,
    'end_offset': 664,
    'user': 1,
    'created_at': '2021-04-19T18:57:15.383813Z',
    'updated_at': '2021-04-19T18:57:15.383884Z'},
   {'label': 'Name',
    'start_offset': 685,
    'end_offset': 690,
    'user': 1,
    'created_at': '2021-04-19T18:59:04.432242Z',
    'updated_at': '2021-04-19T18:59:04.432318Z'},
   {'label': 'Surname',
    'start_offset': 677,
    'end_offset': 684,
    'user': 1,
    'created_at': '2021-04-19T18:59:10.013272Z',
    'updated_at': '2021-04-19T18:59:10.013383Z'},
   {'label': 'Year',
    'start_offset': 692,
    'end_offset': 709,
    'user': 1,
    'created_at': '2021-04-19T18:59:24.288564Z',
    'updated_at': '2021-04-19T18:59:24.288657Z'},
   {'label': 'Year',
    'start_offset': 754,
    'end_offset': 759,
    'user': 1,
    'created_at': '2021-04-19T19:00:08.815141Z',
    'updated_at': '2021-04-19T19:00:08.815210Z'},
   {'label': 'Surname',
    'start_offset': 1201,
    'end_offset': 1208,
    'user': 1,
    'created_at': '2021-04-19T19:01:24.960499Z',
    'updated_at': '2021-04-19T19:01:24.960637Z'},
   {'label': 'Name',
    'start_offset': 1218,
    'end_offset': 1226,
    'user': 1,
    'created_at': '2021-04-19T19:01:30.186314Z',
    'updated_at': '2021-04-19T19:01:30.186357Z'},
   {'label': 'Surname',
    'start_offset': 1263,
    'end_offset': 1270,
    'user': 1,
    'created_at': '2021-04-19T19:02:34.571464Z',
    'updated_at': '2021-04-19T19:02:34.571611Z'},
   {'label': 'Name',
    'start_offset': 1278,
    'end_offset': 1283,
    'user': 1,
    'created_at': '2021-04-19T19:02:44.617031Z',
    'updated_at': '2021-04-19T19:02:44.617167Z'},
   {'label': 'Year',
    'start_offset': 1285,
    'end_offset': 1299,
    'user': 1,
    'created_at': '2021-04-19T19:02:49.301333Z',
    'updated_at': '2021-04-19T19:02:49.301534Z'},
   {'label': 'Name',
    'start_offset': 1353,
    'end_offset': 1357,
    'user': 1,
    'created_at': '2021-04-19T19:03:23.257099Z',
    'updated_at': '2021-04-19T19:03:23.257213Z'},
   {'label': 'Surname',
    'start_offset': 1358,
    'end_offset': 1370,
    'user': 1,
    'created_at': '2021-04-19T19:03:28.949266Z',
    'updated_at': '2021-04-19T19:03:28.949348Z'},
   {'label': 'Name',
    'start_offset': 1392,
    'end_offset': 1396,
    'user': 1,
    'created_at': '2021-04-19T19:03:34.964673Z',
    'updated_at': '2021-04-19T19:03:34.964755Z'},
   {'label': 'Surname',
    'start_offset': 1397,
    'end_offset': 1405,
    'user': 1,
    'created_at': '2021-04-19T19:03:39.750074Z',
    'updated_at': '2021-04-19T19:03:39.750154Z'},
   {'label': 'Year',
    'start_offset': 1345,
    'end_offset': 1351,
    'user': 1,
    'created_at': '2021-04-19T19:04:23.869307Z',
    'updated_at': '2021-04-19T19:04:23.869513Z'},
   {'label': 'Year',
    'start_offset': 1386,
    'end_offset': 1390,
    'user': 1,
    'created_at': '2021-04-19T19:04:27.657583Z',
    'updated_at': '2021-04-19T19:04:27.657619Z'},
   {'label': 'Year',
    'start_offset': 1428,
    'end_offset': 1432,
    'user': 1,
    'created_at': '2021-04-19T19:04:32.133392Z',
    'updated_at': '2021-04-19T19:04:32.133479Z'},
   {'label': 'Year',
    'start_offset': 1162,
    'end_offset': 1168,
    'user': 1,
    'created_at': '2021-04-19T19:04:36.812666Z',
    'updated_at': '2021-04-19T19:04:36.812747Z'},
   {'label': 'Year',
    'start_offset': 923,
    'end_offset': 927,
    'user': 1,
    'created_at': '2021-04-19T19:04:44.949192Z',
    'updated_at': '2021-04-19T19:04:44.949540Z'},
   {'label': 'Surname',
    'start_offset': 1496,
    'end_offset': 1506,
    'user': 1,
    'created_at': '2021-04-19T19:04:56.363926Z',
    'updated_at': '2021-04-19T19:04:56.364013Z'},
   {'label': 'Name',
    'start_offset': 1508,
    'end_offset': 1515,
    'user': 1,
    'created_at': '2021-04-19T19:05:02.795403Z',
    'updated_at': '2021-04-19T19:05:02.795484Z'},
   {'label': 'Name',
    'start_offset': 1517,
    'end_offset': 1527,
    'user': 1,
    'created_at': '2021-04-19T19:05:39.383830Z',
    'updated_at': '2021-04-19T19:05:39.383896Z'},
   {'label': 'Surname',
    'start_offset': 1527,
    'end_offset': 1538,
    'user': 1,
    'created_at': '2021-04-19T19:05:45.368771Z',
    'updated_at': '2021-04-19T19:05:45.369017Z'},
   {'label': 'Surname',
    'start_offset': 1539,
    'end_offset': 1553,
    'user': 1,
    'created_at': '2021-04-19T19:05:49.570285Z',
    'updated_at': '2021-04-19T19:05:49.570372Z'},
   {'label': 'Name',
    'start_offset': 1555,
    'end_offset': 1559,
    'user': 1,
    'created_at': '2021-04-19T19:05:56.205092Z',
    'updated_at': '2021-04-19T19:05:56.205191Z'},
   {'label': 'Name',
    'start_offset': 1573,
    'end_offset': 1578,
    'user': 1,
    'created_at': '2021-04-19T19:06:01.081660Z',
    'updated_at': '2021-04-19T19:06:01.081735Z'},
   {'label': 'Surname',
    'start_offset': 1579,
    'end_offset': 1590,
    'user': 1,
    'created_at': '2021-04-19T19:06:05.257557Z',
    'updated_at': '2021-04-19T19:06:05.257610Z'},
   {'label': 'Name',
    'start_offset': 1602,
    'end_offset': 1606,
    'user': 1,
    'created_at': '2021-04-19T19:06:16.051939Z',
    'updated_at': '2021-04-19T19:06:16.052218Z'},
   {'label': 'Surname',
    'start_offset': 1593,
    'end_offset': 1600,
    'user': 1,
    'created_at': '2021-04-19T19:06:50.861734Z',
    'updated_at': '2021-04-19T19:06:50.861836Z'},
   {'label': 'Name',
    'start_offset': 1661,
    'end_offset': 1666,
    'user': 1,
    'created_at': '2021-04-19T19:07:31.673458Z',
    'updated_at': '2021-04-19T19:07:31.673536Z'},
   {'label': 'Year',
    'start_offset': 1668,
    'end_offset': 1688,
    'user': 1,
    'created_at': '2021-04-19T19:07:40.923691Z',
    'updated_at': '2021-04-19T19:07:40.923854Z'},
   {'label': 'Surname',
    'start_offset': 1691,
    'end_offset': 1700,
    'user': 1,
    'created_at': '2021-04-19T19:07:48.776103Z',
    'updated_at': '2021-04-19T19:07:48.776326Z'},
   {'label': 'Name',
    'start_offset': 1721,
    'end_offset': 1728,
    'user': 1,
    'created_at': '2021-04-19T19:07:54.723908Z',
    'updated_at': '2021-04-19T19:07:54.723988Z'},
   {'label': 'Surname',
    'start_offset': 1729,
    'end_offset': 1742,
    'user': 1,
    'created_at': '2021-04-19T19:07:58.931243Z',
    'updated_at': '2021-04-19T19:07:58.931545Z'},
   {'label': 'Year',
    'start_offset': 1745,
    'end_offset': 1750,
    'user': 1,
    'created_at': '2021-04-19T19:08:05.153221Z',
    'updated_at': '2021-04-19T19:08:05.153309Z'},
   {'label': 'Name',
    'start_offset': 1760,
    'end_offset': 1768,
    'user': 1,
    'created_at': '2021-04-19T19:08:12.720433Z',
    'updated_at': '2021-04-19T19:08:12.720568Z'},
   {'label': 'Surname',
    'start_offset': 1752,
    'end_offset': 1759,
    'user': 1,
    'created_at': '2021-04-19T19:08:18.363161Z',
    'updated_at': '2021-04-19T19:08:18.363370Z'},
   {'label': 'Year',
    'start_offset': 1769,
    'end_offset': 1790,
    'user': 1,
    'created_at': '2021-04-19T19:08:27.431061Z',
    'updated_at': '2021-04-19T19:08:27.431161Z'},
   {'label': 'Year',
    'start_offset': 1816,
    'end_offset': 1820,
    'user': 1,
    'created_at': '2021-04-19T19:08:36.870348Z',
    'updated_at': '2021-04-19T19:08:36.870421Z'},
   {'label': 'Name',
    'start_offset': 1821,
    'end_offset': 1827,
    'user': 1,
    'created_at': '2021-04-19T19:08:44.341713Z',
    'updated_at': '2021-04-19T19:08:44.341810Z'},
   {'label': 'Surname',
    'start_offset': 1827,
    'end_offset': 1840,
    'user': 1,
    'created_at': '2021-04-19T19:08:50.217934Z',
    'updated_at': '2021-04-19T19:08:50.218049Z'},
   {'label': 'Name',
    'start_offset': 1852,
    'end_offset': 1858,
    'user': 1,
    'created_at': '2021-04-19T19:08:55.411878Z',
    'updated_at': '2021-04-19T19:08:55.411950Z'},
   {'label': 'Surname',
    'start_offset': 1871,
    'end_offset': 1878,
    'user': 1,
    'created_at': '2021-04-19T19:11:51.975178Z',
    'updated_at': '2021-04-19T19:11:51.975268Z'},
   {'label': 'Surname',
    'start_offset': 1862,
    'end_offset': 1869,
    'user': 1,
    'created_at': '2021-04-19T19:12:12.544671Z',
    'updated_at': '2021-04-19T19:12:12.544763Z'},
   {'label': 'Name',
    'start_offset': 1900,
    'end_offset': 1906,
    'user': 1,
    'created_at': '2021-04-19T19:12:18.029099Z',
    'updated_at': '2021-04-19T19:12:18.029165Z'},
   {'label': 'Surname',
    'start_offset': 1906,
    'end_offset': 1914,
    'user': 1,
    'created_at': '2021-04-19T19:12:24.321157Z',
    'updated_at': '2021-04-19T19:12:24.321299Z'},
   {'label': 'Year',
    'start_offset': 1927,
    'end_offset': 1932,
    'user': 1,
    'created_at': '2021-04-19T19:12:37.845815Z',
    'updated_at': '2021-04-19T19:12:37.846081Z'},
   {'label': 'Year',
    'start_offset': 1947,
    'end_offset': 1951,
    'user': 1,
    'created_at': '2021-04-19T19:12:48.543701Z',
    'updated_at': '2021-04-19T19:12:48.543769Z'},
   {'label': 'Year',
    'start_offset': 1974,
    'end_offset': 1988,
    'user': 1,
    'created_at': '2021-04-19T19:13:12.029309Z',
    'updated_at': '2021-04-19T19:13:12.029396Z'},
   {'label': 'Name',
    'start_offset': 2020,
    'end_offset': 2024,
    'user': 1,
    'created_at': '2021-04-19T19:13:25.248920Z',
    'updated_at': '2021-04-19T19:13:25.248975Z'},
   {'label': 'Surname',
    'start_offset': 2025,
    'end_offset': 2038,
    'user': 1,

In [7]:
for data in labeled_data:
    for label in data['annotations']:
        label['label'] = label_dict[label['label']]

In [10]:
TRAINING_DATA = []
for entry in labeled_data:
    entities = []
    for e in entry['annotations']:
        entities.append((e['start_offset'],e['end_offset'],e['label']))
        spacy_entry = (entry['text'], {"entities": entities})
    TRAINING_DATA.append(spacy_entry)

In [11]:
TRAINING_DATA

[('NAMES OF PERSONS A Abbat, William (A. 1464-71).Abbott. 372. ?Inhabited 372. Baker; entered liberty of city 1469-70 (CA). Subsidy 8d. (1464). Abbelyn, Agnes (ft. 1440-54). From her ?relative John Ablyn: 1005. Abbod, Roger (A. by 1309). Part 734. Abbodeston, William (fl. 1350-91). Abboteston, de Abbotestone.. 50-6G and H, 61, 62, 305. Married (by 1366) Eve. Butcher 1350-86, inspector of carcasses 1364 (CR). Assessor of fines 1371 (CR); citizen by 1374. Eve wife of (fl. by 1366; 1391). de Abbodeston, Richard (fl. 1327-32). ?994-5, part 1100. Possibly related to Henry Abbotestone. Inhabited ?994-5. ?Draper. Subsidy 4s. (1327), 6s. (1332). Abbot, John (fl. 1582). Part 351. Abraham Pinch (fl. 1230; d. 1236). ?281-8D. Jew. Accused of theft of florins 1230 (Justl/775); Roger Alis, Thomas de Bromden, and Reginald de Moyun owed him money 1230-1 (Cal Close R 1227- 31, pp. 428, 539, 550); Hugh de Godeshull owed him money 1235 (Cal Close R 1234-7, p. 81); other debtors included Adam de Rutherefeud, Bartholomew de Ellested, and William de Boleyn of Easton (Exc Fine R, 8, 234; Cal Plea REJ i, 196). Hanged for felony 1236 (allegedly child-murder) (Cal Close R 1234-7, pp. 239, 271, 341; Just1/775). Abraham (son of) Cokerel (fl. 1290). ?Part 281-8B and C. Jew. Abraham son of Elias (fl. c. 1222-73). Part 27/30-2. Jew. Claimed debts at Wilton 1244-5; John de Pratellis owed him money 1248, John Holebury owed him money before 1253 (Cal Plea REJ i, 97; Cal Pat R 1247-50, pp. 20, 119). Butcher. Abboteston, William, v. William Abbodeston. de Abboteston, Joan, v. widow of Henry Abbotestone. AAbraham, John (fl. 1335). From his father Abraham de V Abbotestone, Henry (fl. 1340; d. by 1347). Abodeston. From his ?relative Richard de Abbodeston: ?994-5. Abraham, Robert (fl. 1335; ?d. by 1362). From his V Married (by 1347) Joan de Abboteston. Father of Isabel. * Abraham. Reynham: part 66. Brother of Robert Abraham. Inhabited ?994-5. Subsidy 6s. (1340). Isabel daughter of (fl. 1347, 1357). From her father: ?994-5. ~~, Joan de Abboteston widow of (fl. 1347). From her X husband: ?994-5. Mother of Isabel. ?Inhabited ?994-5. father Abraham de Reynham: part 66. Brother of John Abraham. A Abraham, Thomas (fl. 1350). 1002. V Abyndone, John, v. John Abyn(g)done. Abyn(g)done, John (fl. 1408-17). Ablyndon. 195, 501. Clerk 1411, chaplain 1417. le Acatour, John, v. John le Ac(h)atour. H Ace, John (A. 1337). 5/245-6. Possibly related to Wil- de Abbotestone, William, v. William Abbodeston. Abbott, Henry (fl. 1582-1604). Part 485. Abbott, William, v. William Abbat. Aber, Mrs. (fl. 1590-1604). From her ?husband William Aber: 553, 557-8. Also held: 530. Aber, William (1. 1590; ?d. by 1604). 553, 557-8. Prob- ably husband of Mrs. Aber. Ablyn, John (fl. 1404-26). Aubelyn. 1005, ?part 1006, Ace, William alias William Hichecok (d. by 1334), v. ?1007. Probably related to Agnes Abbelyn and pos- following. sibly to Philip Aubyn III. Corveser. liam Ace alias William Hichecok. Rector of Brown Candover. A Ace, Richard (fl. by 1317). Part 421. V Dyer. A Ace, William (fl. by 1378). From his father William As: part 629. Ace, William (f1. 1333, by 1346), v. William As. Ablyndon, John, v. John Abyn(g)done. Abodeston, Henry, v. Henry Abbotestone. Abraham (fl. c. 1222-73). ?Part 27/30-2. Jew *Abraham son of Elias. Possibly related to John Ace. ~~, Agnes widow of, v. Agnes ?daughter of John Tusy. Achard, Nicholas, v. Nicholas (H)Achard. tle Ac(h)atour, John alias John de Harden, of Reading (Al. by 1320; d. by 1381). le Akatour, le Cat(o)ur. 50-6D, 479-81, ?608, part 618-19, 622-3, ?649. Married (by 1320) Florence. Later married (by 1354) Margaret daughter of John de Kyrkeby II. Abraham Cokerel, v. Abraham (son of) Cokerel.',
  {'entities': [(76, 81, 'Occupation'),
    (366, 373, 'Year'),
    (375, 397, 'Occupation'),
    (409, 426, 'Occupation'),
    (454, 459, 'Name'),
    (603, 609, 'Occupation'),
    (358, 366, 'Occupation'),
    (1226, 1236, 'Year'),
    (1487, 1494, 'Occupation'),
    (1607, 1617, 'Year'),
    (1954, 1960, 'Name'),
    (3092, 3099, 'Name'),
    (3013, 3026, 'Year'),
    (19, 24, 'Surname'),
    (35, 45, 'Year'),
    (26, 33, 'Name'),
    (141, 148, 'Surname'),
    (150, 155, 'Name'),
    (157, 168, 'Year'),
    (195, 200, 'Surname'),
    (189, 194, 'Name'),
    (215, 220, 'Name'),
    (208, 213, 'Surname'),
    (222, 232, 'Year'),
    (257, 264, 'Name'),
    (245, 255, 'Surname'),
    (266, 277, 'Year'),
    (280, 290, 'Surname'),
    (353, 356, 'Name'),
    (502, 510, 'Name'),
    (488, 501, 'Surname'),
    (468, 485, 'Year'),
    (512, 523, 'Year'),
    (565, 570, 'Name'),
    (570, 582, 'Surname'),
    (650, 654, 'Name'),
    (642, 648, 'Surname'),
    (656, 664, 'Year'),
    (685, 690, 'Name'),
    (677, 684, 'Surname'),
    (692, 709, 'Year'),
    (754, 759, 'Year'),
    (1201, 1208, 'Surname'),
    (1218, 1226, 'Name'),
    (1263, 1270, 'Surname'),
    (1278, 1283, 'Name'),
    (1285, 1299, 'Year'),
    (1353, 1357, 'Name'),
    (1358, 1370, 'Surname'),
    (1392, 1396, 'Name'),
    (1397, 1405, 'Surname'),
    (1345, 1351, 'Year'),
    (1386, 1390, 'Year'),
    (1428, 1432, 'Year'),
    (1162, 1168, 'Year'),
    (923, 927, 'Year'),
    (1496, 1506, 'Surname'),
    (1508, 1515, 'Name'),
    (1517, 1527, 'Name'),
    (1527, 1538, 'Surname'),
    (1539, 1553, 'Surname'),
    (1555, 1559, 'Name'),
    (1573, 1578, 'Name'),
    (1579, 1590, 'Surname'),
    (1602, 1606, 'Name'),
    (1593, 1600, 'Surname'),
    (1661, 1666, 'Name'),
    (1668, 1688, 'Year'),
    (1691, 1700, 'Surname'),
    (1721, 1728, 'Name'),
    (1729, 1742, 'Surname'),
    (1745, 1750, 'Year'),
    (1760, 1768, 'Name'),
    (1752, 1759, 'Surname'),
    (1769, 1790, 'Year'),
    (1816, 1820, 'Year'),
    (1821, 1827, 'Name'),
    (1827, 1840, 'Surname'),
    (1852, 1858, 'Name'),
    (1871, 1878, 'Surname'),
    (1862, 1869, 'Surname'),
    (1900, 1906, 'Name'),
    (1906, 1914, 'Surname'),
    (1927, 1932, 'Year'),
    (1947, 1951, 'Year'),
    (1974, 1988, 'Year'),
    (2020, 2024, 'Name'),
    (2025, 2038, 'Surname'),
    (2049, 2057, 'Year'),
    (2098, 2104, 'Name'),
    (2140, 2150, 'Surname'),
    (2172, 2176, 'Name'),
    (2177, 2184, 'Surname'),
    (2188, 2195, 'Surname'),
    (2197, 2203, 'Name'),
    (2205, 2213, 'Year'),
    (2222, 2232, 'Surname'),
    (2234, 2238, 'Name'),
    (2274, 2278, 'Name'),
    (2261, 2272, 'Surname'),
    (2280, 2291, 'Year'),
    (2314, 2319, 'Occupation'),
    (2326, 2335, 'Occupation'),
    (2335, 2339, 'Year'),
    (2320, 2324, 'Year'),
    (2384, 2387, 'Surname'),
    (2389, 2393, 'Name'),
    (2395, 2402, 'Year'),
    (2439, 2453, 'Surname'),
    (2455, 2462, 'Name'),
    (2467, 2474, 'Name'),
    (2475, 2485, 'Surname'),
    (2487, 2493, 'Surname'),
    (2495, 2500, 'Name'),
    (2502, 2515, 'Year'),
    (2528, 2534, 'Surname'),
    (2536, 2543, 'Name'),
    (2575, 2588, 'Year'),
    (2657, 2665, 'Name'),
    (2651, 2655, 'Surname'),
    (2562, 2567, 'Surname'),
    (2666, 2686, 'Year'),
    (2733, 2739, 'Surname'),
    (2741, 2746, 'Name'),
    (2747, 2758, 'Year'),
    (2761, 2768, 'Surname'),
    (2787, 2791, 'Surname'),
    (2793, 2800, 'Name'),
    (2806, 2814, 'Name'),
    (2815, 2823, 'Surname'),
    (2825, 2835, 'Year'),
    (2971, 2978, 'Occupation'),
    (3048, 3051, 'Surname'),
    (3053, 3061, 'Name'),
    (2868, 2874, 'Name'),
    (2874, 2882, 'Surname'),
    (2911, 2918, 'Name'),
    (2918, 2923, 'Surname'),
    (3114, 3117, 'Surname'),
    (3119, 3127, 'Name'),
    (3128, 3145, 'Year'),
    (3240, 3248, 'Surname'),
    (3249, 3263, 'Year'),
    (3162, 3171, 'Surname'),
    (3173, 3177, 'Name'),
    (3328, 3333, 'Name'),
    (3333, 3336, 'Surname'),
    (3380, 3384, 'Name'),
    (3385, 3389, 'Surname'),
    (3399, 3407, 'Name'),
    (3391, 3397, 'Surname'),
    (3686, 3693, 'Name'),
    (3678, 3686, 'Surname'),
    (3436, 3446, 'Surname'),
    (3448, 3452, 'Name'),
    (3487, 3510, 'Year'),
    (3715, 3723, 'Name'),
    (3603, 3611, 'Name'),
    (3658, 3663, 'Name'),
    (3663, 3673, 'Surname'),
    (3637, 3645, 'Name'),
    (3628, 3635, 'Year'),
    (3459, 3463, 'Name'),
    (3464, 3473, 'Surname'),
    (3698, 3706, 'Name')]}),
 ("Adderly, Edward (fl. 1604-29). From his ?relative Richard Adderl(e)y: 614-15, 640-1, 643. From his ?relative Stephen Adderly(e): 183. Adderly, John, v. John Adderl(e)y. 203B, ?part 851. Possibly related to Walter Agth- man I and Walter Agthman II. \xa0 le Ac(h)atour, John (cont.) Inhabited 622-3. Described as master by 1320, (1446). ~~, Agnes wife of (fl. by 1476). Alce(s)tre, John (fl. 1417-46). tere. 44, 53. Inhabited 44. Corveser; bought sold cloth ?1421 (CRB); ale Subsidy 4s. (1430), 10d. (1435), of the corvesers 1443 (Black Book, people, the man who held 53 being Alceter, John, v. John Alce(s) tre. Alcetre, John, v. John Alce(s) tre. Alderley, Anthony (fl. 1556). Part to Anthony Adderl(e)y. Mason. citizen 1325. t~~, Florence wife of (fl. by 1320; d. by 1354). ~~, Margaret wife and widow of, v. Margaret daughter Adderly, Nicholas (fl. 1590). 144. of John de Kyrkeby II. de Actune, Roger (fl. 1254). See 27/30-2. Married (by Adderly, Stephen, v. Stephen Adderly(e). 1254) Joan. ~~, Joan wife of (fl. 1254). de Acyer, Amicius (fl. 1246-7). Part 1104. Brother of Nicholas de Acyer. de Acyer, Nicholas (fl. 1246-7). Part 1104. Brother of Amicius de Acyer. Agthman, Walter I (fl. by 1310). Aghtman. 209, Father of Walter Agthman II. Possibly related to Edward Agthman. A Agthman, Walter II (fl. by 1317). Part 203B. Son of Walter Agthman I. Possibly related to Edward Agth- Adderly, Richard, v. Richard Adderl(e)y. Adderlye, John, v. John Adderl(e)y. Adderly(e), Stephen (fl. 1590-1604). 4, 183, 184, 185 589-90. Possibly related to John Adderl(e)y and Ed- ward Adderly. man. Agulley, Maud, v. Maud Agulley/Agullye alias Molde a Gulley widow of William Agull(e)y. Agulley, Robert (fl. 1590-1604). Agullye. From his Prelative William Agull(e)y: 249, 265. Also held: 498, 656, 660-5. Possibly related to Widow Gulley. Agull(e)y William (fl. 1524; d. 1556). Agullye, Aguyly, Alderl(e)y, Robert (1. 1603). 472, a Gully. 184, 249, 253, part 254, 257, ?part 262, part 263, 265, 498, 660-5, 678, 717. Married (by 1556) Maud Agulley/Agullye alias Molde a Gulley. Father of Ade Aldinton, Henry (fl. 1280). 923. Anne and Gabriel. Possibly related to Robert Agulley. Inhabited 265. Subsidy 3s., goods (1524). Bailiff 2 Aldreg(e), Thomas (fl. 1518-24). (1540-1); yeoman 1556. ~~, Anne daughter of (fl. 1556). From her father: 498. ~~, Gabriel son of (fl. 1556). From his father: 660-5. Aldrygge, Thomas, v. Thomas Aldreg(e). ~~, heirs of (fl. 1590). 253. ~, Maud Agulley/Agullye alias Molde a Gulley widow of (fl. 1556-95). From her husband: 249, 265, 498, 660-5. Also held: part 678, 723, 798. Agully, William, v. William Agull(e)y. Agullye, Maud, v. Maud Agulley/Agullye alias Molde a Gulley widow of William Agul1(e)y. Agullye, Robert, v. Robert Agulley. Agullye, William, v. William Agull(e)y. Aguyly, William, v. William Agull(e)y. Ailing, Richard, of the soke (fl. 1591). 909. Haberdasher. ~~, family of (fl. early 17 th cent.) 184. Adrian, William (fl. 1502-3). ?Part 905. Adam of Winchester, v. Adam de Leghford, alias. Adam, parson of St. Mary Tanner Street (d. between Adryan, Robert (fl. by 1310; ?d. by 1326). 71. Married 1279 and 1352). Part 434. Adam, parson of St. Pancras (d. by 1279). Part 434. Adam the chandler (fl. 1294). Part 566. Adam the chaplain (fl. by 1305). ?Part 543. Adam the clerk (fl. 1243). 484, BF2. Brother of Walter Yeoman 1556. (by 1335) Orengia. Father of Orengia and Clarice. ~~, Clarice daughter of (fl. 1335-7). From her father: 71. Also held: 580. Joiner. *Robert Anthony. ~~, Orengia daughter of (fl. by 1338). ?Part 2/3. ~~ Orengia wife of (fl. by 1335). Ethelgeard (fl. 946-55). 944. Thegn. Involved in civil plea 1280 Inhabited 118. Entered liberty (CA). Subsidy 4d., goods (1524). Rufus and his brother William. Adam the dyer (fl. 1290-1; ?d. by 1309). From his ?relative Azo le Dubbur: parts 374-6. Married (by thelraed II (king of England) (d. 1015). Part 50-6. 1290-1) Alice. Father of Alice and Anabilia. thelwine (fl. by 1012). Part 50-6. Reeve of Winchester by 1012. Alen, Margaret (fl. 1542; d. 1558). A ~, Alice daughter of (fl. 1290-1, by 1309). From her related to Thomas Allen. father: part 374-6. Married (by 1309) Adam Bythe- Agace, John, v. John Agat(h)e. part 985. Alexander the parmenter, v. Alexander Alexander the smith (fl. early 14th Alexander the tawyer (?d. by 1219). PInhabited Agate, John, v. John Agat(h)e. Agath', John, v. John Agat(h)e. Agatha, John, v. John Agat(h)e. Agathe, Elias (fA. by 1317, 1320). From his father John Agat(h)e: 422. Also held: 632. A Agat(h)e, John (fl. c. 1286-9; d. by 1317). Agace, Agath', Agatha, John son of Agatha. 115-16, 419, 420, ?422, part 424-6, ?442, 616, ?630, 660. Probably son of Agatha. Married (by 1300) Alice daughter of Andrew Silvester. Father of Elias Agathe and probably father of Gunilda, Albreda, and Alice. PInhabited ?419 (by 1322) and ?420 (by 1310). Dyer. ,Albreda ?daughter of (fl. by 1317). From her ?father: 422. wode. ~~ Alice wife of (fl. 1290-1; ?d by 1309). ~~, Anabilia daughter of (fl. by 1309). From her father: part 374-6. Married (by 1309) Richard le Bude. Adam the miller, v. Adam le Muner alias Adam le Mille- Martha. A ~~, Martha daughter of (1. 1219). ward. Adam the royal saucer (fl. 1236). ?281-8D. Adams, John (fl. 1554-90). 108/104, 500, 549, part 681. ?718. Al(e)yn, John, of the soke (fl. 1504-24). 1057. Possibly related to Thomas Inhabited St. John in the Soke wages (1524). Perhaps more than one Baker. A Ailward, Peter, of Brambridge (fl. by 1343, by 1355). Part 629A. Married (by 1355) Agnes daughter of Wal Aleyn, John (fl. by 1352). Part Drapery. ter de Merewelle alias Walter le Whyte. Adams, Richard (fl. 1573). Part 124. Possibly related to Thomas Adams. Adams, Thomas (fl. 1614). From his ?relative Richard Adams: part 124. Addams, Jerome (fl. 1590-1604). Part 130/132, 383. Adderl(e)y, Anthony (fl. 1577-90). 161, ?331, 332, 561. Possibly related to Anthony Alderley. Adderley, Cornelius (fl. 1604). 337-9. Possibly related to John Adderl(e)y. Adderl(e)y, John (fl. 1560-90). Adderlye. 185, 251-2 ~~, Alice wife and widow of, v. Alice daughter of An- 270, 337-9, 595-6, 614-15, 640-1, 643. Probably related to Richard Adderl(e)y and possibly to Cor- , Gunilda ?daughter of (fl. by 1317, by 1324). From nelius Adderley and Stephen Adderly(e). Adderl(e)y, Richard (fl. 1572-1617). From his ?relative John Adderl(e)y: 614-15, 640-1, 643. Also held: 160, 186, 304-6, 324-7. Probably related to Edward Adderly. Haberdasher. Aleyn, John (fl. by 1465). 826. Agnes wife of, v. Agnes daughter of Walter de Merewelle alias Walter le Whyte. le Akatour, John, v. John le Ac(h)atour. Akerchurl, Robert (fl. by 1294). Part 717. Alan the cook, v. sub John Sauntere. Alayn, Roger, of Winchester (fl, by 1416). 60, 299. Mar- ried (by 1416) Juliana. ~~, Juliana wife of (fl. by 1416). Alayn, Thomas (fl. 1355-61). Aleyn. Part 197. Fishmonger; entered guild merchant 1357-8, fee payer 1359-60 (CA). A Alb', Robert (fl. early 13th cent.). ?Part 63-8. Albone, William (fl. 1430, by 1476). 319. Married (by Aleyn, William (fl. ?1451). Part 850. 1476) Agnes. Inhabited High Street aldermanry (near 153-7). Subsidy 15s. (1430), 2s. 4d. (1435), 2s. (1436), 18d. Corveser. ~, Alice ?daughter of (fl. by 1317, 1320). From her ?father: 422. Also held: 632. Married (by 1317) Henry le Prykiare. Aleyn, Richard (fl. 1420; d. 1447). (by 1420) Joan. Later married (by later (by 1446) Joan. Probably Aleyn. Cook. ~, Joan wife of (fl. 1420; d. by 1427). ~~, Joan wife and widow of (fl. 1447, her husband: part 850. ?Inhabited part 850. ~~, Olive wife of (fl. 1427; d. by 1447). drew Silvester. her ?father: part 419, 422. Married (by 1320) John Wasco. ~~, Aghtman, Edward, v. Edward Agthman. Aghtman, Walter, v. Walter Agthman I. Agleby, John (fl. 1530-1). Part 197. Possibly related to Hugh a Gulley. A Agthman, Edward (fl. by 1317, 1342). Aghtman. Part Aleyn, Thomas, v. Thomas Alayn. Richard Aleyn. de Alfold, John, v. John Alfolde. Alfolde, John (fl. 1354-5; d. by 1378). Adderly, Anthony, v. Anthony Adderl(e)y. CRaf",
  {'entities': [(0, 7, 'Surname'),
    (9, 15, 'Name'),
    (17, 28, 'Year'),
    (50, 58, 'Name'),
    (108, 117, 'Name'),
    (134, 141, 'Surname'),
    (143, 147, 'Name'),
    (229, 235, 'Name'),
    (236, 243, 'Surname'),
    (308, 314, 'Occupation'),
    (317, 322, 'Year'),
    (336, 341, 'Name'),
    (351, 362, 'Year'),
    (377, 381, 'Name'),
    (383, 394, 'Year'),
    (425, 433, 'Occupation'),
    (572, 579, 'Surname'),
    (581, 585, 'Name'),
    (644, 652, 'Surname'),
    (653, 662, 'Name'),
    (663, 671, 'Year'),
    (702, 707, 'Occupation'),
    (728, 736, 'Name'),
    (746, 769, 'Year'),
    (776, 784, 'Name'),
    (834, 842, 'Name'),
    (825, 832, 'Surname'),
    (844, 852, 'Year'),
    (893, 900, 'Name'),
    (883, 892, 'Surname'),
    (901, 909, 'Year'),
    (984, 988, 'Name'),
    (994, 998, 'Name'),
    (1008, 1016, 'Year'),
    (1029, 1036, 'Name'),
    (1019, 1027, 'Surname'),
    (1038, 1048, 'Year'),
    (1102, 1111, 'Name'),
    (1092, 1100, 'Surname'),
    (1112, 1122, 'Year'),
    (1164, 1172, 'Surname'),
    (1184, 1195, 'Year'),
    (1261, 1268, 'Name'),
    (1268, 1275, 'Surname'),
    (1174, 1183, 'Name'),
    (1288, 1297, 'Name'),
    (1299, 1310, 'Year'),
    (1279, 1286, 'Surname'),
    (1471, 1479, 'Name'),
    (1459, 1469, 'Surname'),
    (1480, 1493, 'Year'),
    (1672, 1679, 'Surname'),
    (1681, 1687, 'Name'),
    (1689, 1702, 'Year'),
    (1824, 1833, 'Surname'),
    (1833, 1842, 'Name'),
    (1843, 1860, 'Year'),
    (2074, 2085, 'Surname'),
    (2087, 2093, 'Name'),
    (2094, 2102, 'Year'),
    (2227, 2233, 'Name'),
    (2216, 2225, 'Surname'),
    (2234, 2246, 'Year'),
    (2276, 2281, 'Name'),
    (2294, 2302, 'Year'),
    (2331, 2338, 'Name'),
    (2347, 2355, 'Year'),
    (2754, 2761, 'Surname'),
    (2763, 2770, 'Name'),
    (2772, 2782, 'Name'),
    (2841, 2848, 'Name'),
    (2863, 2871, 'Year'),
    (2878, 2890, 'Occupation'),
    (2935, 2941, 'Surname'),
    (2943, 2950, 'Surname'),
    (2952, 2962, 'Year'),
    (2976, 2981, 'Name'),
    (2999, 3015, 'Surname'),
    (3029, 3036, 'Occupation'),
    (3024, 3028, 'Name'),
    (3185, 3195, 'Year'),
    (3217, 3225, 'Occupation'),
    (3227, 3235, 'Year'),
    (3257, 3265, 'Occupation'),
    (3267, 3278, 'Year'),
    (3300, 3307, 'Occupation'),
    (3308, 3316, 'Year'),
    (3291, 3296, 'Name'),
    (3208, 3212, 'Name'),
    (3248, 3252, 'Name'),
    (3339, 3346, 'Name'),
    (3369, 3377, 'Name'),
    (3389, 3397, 'Name'),
    (3414, 3422, 'Name'),
    (3435, 3445, 'Year'),
    (3494, 3500, 'Name'),
    (3500, 3508, 'Surname'),
    (3485, 3491, 'Occupation'),
    (3514, 3521, 'Name'),
    (3535, 3546, 'Year'),
    (3562, 3571, 'Name'),
    (3580, 3591, 'Year'),
    (3594, 3605, 'Name'),
    (3606, 3616, 'Year'),
    (3624, 3629, 'Occupation'),
    (3723, 3728, 'Name'),
    (3754, 3759, 'Name'),
    (3763, 3767, 'Occupation'),
    (3769, 3792, 'Year'),
    (3915, 3920, 'Name'),
    (3942, 3950, 'Name'),
    (3932, 3937, 'Name'),
    (3952, 3961, 'Name'),
    (3963, 3974, 'Year'),
    (3988, 3993, 'Occupation'),
    (4011, 4015, 'Year'),
    (4023, 4031, 'Name'),
    (4017, 4021, 'Surname'),
    (4033, 4050, 'Year'),
    (4058, 4063, 'Name'),
    (4077, 4096, 'Year'),
    (4165, 4169, 'Year'),
    (4262, 4271, 'Name'),
    (4276, 4281, 'Occupation'),
    (4204, 4212, 'Surname'),
    (4199, 4203, 'Name'),
    (4238, 4247, 'Surname'),
    (4312, 4319, 'Occupation'),
    (4249, 4261, 'Name'),
    (4327, 4331, 'Year'),
    (4345, 4350, 'Surname'),
    (4352, 4356, 'Name'),
    (4448, 4454, 'Name'),
    (4439, 4446, 'Surname'),
    (4455, 4472, 'Year'),
    (4716, 4721, 'Name'),
    (4734, 4740, 'Name'),
    (4741, 4750, 'Surname'),
    (4798, 4805, 'Name'),
    (4807, 4814, 'Name'),
    (4847, 4851, 'Year'),

In [12]:
!pip install plac

Collecting plac
  Using cached plac-1.3.3-py2.py3-none-any.whl (22 kB)
Installing collected packages: plac
Successfully installed plac-1.3.3

In [15]:
from __future__ import unicode_literals, print_function
import plac
import random
from pathlib import Path
#import spacy
from tqdm import tqdm

from spacy.lang.en import English
nlp = English()

In [16]:
model = None
output_dir=Path(r"C:\Users\Rishabh\Downloads\n.model")
n_iter=100

In [17]:
if 'ner' not in nlp.pipe_names:

    nlp.add_pipe("ner", last=True)
else:
    ner = nlp.get_pipe('ner')

In [18]:
from spacy.util import minibatch
from spacy.training import Example

In [19]:
for _, annotations in TRAINING_DATA:
    for e in annotations.get('entities'):
        nlp.get_pipe('ner').add_label(str(e[2]))
other_pipes = [pipe for pipe in nlp.pipe_names if pipe != 'ner']
with nlp.disable_pipes(*other_pipes):  # only train NER
    optimizer = nlp.begin_training()
    for itn in range(n_iter):
        random.shuffle(TRAINING_DATA)
        losses = {}
        for batch in minibatch(TRAINING_DATA, size=1):
            for text, annotations in batch:
                
                doc = nlp.make_doc(text)
                example = Example.from_dict(doc, annotations)
                
                nlp.update([example], drop=0.35, sgd=optimizer, losses=losses)

C:\Users\Rishabh\anaconda3\lib\site-packages\spacy\training\iob_utils.py:139: UserWarning: [W030] Some entities could not be aligned in the text "NAMES OF PERSONS A Abbat, William (A. 1464-71).Abb..." with entities "[(76, 81, 'Occupation'), (366, 373, 'Year'), (375,...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
C:\Users\Rishabh\anaconda3\lib\site-packages\spacy\training\iob_utils.py:139: UserWarning: [W030] Some entities could not be aligned in the text "Archer, John (fl. 1385-98). 126. Dyer; merchant 13..." with entities "[(0, 6, 'Surname'), (8, 12, 'Name'), (19, 25, 'Yea...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
C:\Users\Rishabh\anaconda3\lib\site-packages\spacy\training\iob_utils.py:139: UserWarning: [W030] Some entities could not be aligned in the text "966, 1128. Married (by 1375) Juliana Andevere. Pos..." with entities "[(74, 82, 'Surname'), (69, 73, 'Name'), (37, 45, '...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
C:\Users\Rishabh\anaconda3\lib\site-packages\spacy\training\iob_utils.py:139: UserWarning: [W030] Some entities could not be aligned in the text "Adderly, Edward (fl. 1604-29). From his ?relative ..." with entities "[(0, 7, 'Surname'), (9, 15, 'Name'), (17, 28, 'Yea...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

In [20]:
nlp.to_disk(r"C:\Users\Rishabh\Downloads\new.model")

In [21]:
from spacy import displacy

In [22]:
example =" Abbat William ( A 1464-71 ) Abbott 372 Inhabited 372 Baker entered liberty city 1469-70 ( CA ) Subsidy 8d ( 1464 ) Abbelyn Agnes ( ft. 1440-54 ) From relative John Ablyn 1005 Abbod Roger ( A. 1309 ) Part 734 Abbodeston William ( fl 1350-91 ) Abboteston de Abbotestone .. 50-6G H 61 62 305 Married ( 1366 ) Eve Butcher 1350-86 inspector carcasses 1364 ( CR ) Assessor fines 1371 ( CR ) citizen 1374 Eve wife ( fl 1366 1391 ) de Abbodeston Richard ( fl 1327-32 ) 994-5 part 1100 Possibly related Henry Abbotestone Inhabited 994-5 Draper Subsidy 4s ( 1327 ) 6s ( 1332 ) Abbot John ( fl 1582 ) Part 351 Abraham Pinch ( fl 1230 d. 1236 ) 281-8D Jew Accused theft florins 1230 ( Justl/775 ) Roger Alis Thomas de Bromden Reginald de Moyun owed money 1230-1 ( Cal Close R 1227- 31 pp 428 539 550 ) Hugh de Godeshull owed money 1235 ( Cal Close R 1234-7 p. 81 ) debtors included Adam de Rutherefeud Bartholomew de Ellested William de Boleyn Easton ( Exc Fine R 8 234 Cal Plea REJ 196 ) Hanged felony 1236 ( allegedly child-murder ) ( Cal Close R 1234-7 pp 239 271 341 Just1/775 ) Abraham ( son ) Cokerel ( fl 1290 ) Part 281-8B C. Jew Abraham son Elias ( fl c. 1222-73 ) Part 27/30-2 Jew Claimed debts Wilton 1244-5 John de Pratellis owed money 1248 John Holebury owed money 1253 ( Cal Plea REJ 97 Cal Pat R 1247-50 pp 20 119 ) Butcher Abboteston William v. William Abbodeston de Abboteston Joan v. widow Henry Abbotestone AAbraham John ( fl 1335 ) From father Abraham de V Abbotestone Henry ( fl 1340 d. 1347 ) Abodeston From relative Richard de Abbodeston 994-5 Abraham Robert ( fl 1335 1362 ) From V Married ( 1347 ) Joan de Abboteston Father Isabel * Abraham Reynham part 66 Brother Robert Abraham Inhabited 994-5 Subsidy 6s ( 1340 ) Isabel daughter ( fl 1347 1357 ) From father 994-5 Joan de Abboteston widow ( fl 1347 ) From X husband 994-5 Mother Isabel Inhabited 994-5 father Abraham de Reynham part 66 Brother John Abraham A Abraham Thomas ( fl 1350 ) 1002 V Abyndone John v. John Abyn ( g ) done Abyn ( g ) done John ( fl 1408-17 ) Ablyndon 195 501 Clerk 1411 chaplain 1417. le Acatour John v. John le Ac ( h ) atour H Ace John ( A 1337 ) 5/245-6 Possibly related Wil- de Abbotestone William v. William Abbodeston Abbott Henry ( fl 1582-1604 ) Part 485 Abbott William v. William Abbat Aber Mrs. ( fl 1590-1604 ) From husband William Aber 553 557-8 Also held 530 Aber William ( 1 1590 1604 ) 553 557-8 Prob- ably husband Mrs. Aber Ablyn John ( fl 1404-26 ) Aubelyn 1005 part 1006 Ace William alias William Hichecok ( d. 1334 ) v. 1007 Probably related Agnes Abbelyn pos- following sibly Philip Aubyn III Corveser liam Ace alias William Hichecok Rector Brown Candover A Ace Richard ( fl 1317 ) Part 421 V Dyer A Ace William ( fl 1378 ) From father William As part 629 Ace William ( f1 1333 1346 ) v. William As Ablyndon John v. John Abyn ( g ) done Abodeston Henry v. Henry Abbotestone Abraham ( fl c. 1222-73 ) Part 27/30-2 Jew * Abraham son Elias Possibly related John Ace Agnes widow v. Agnes daughter John Tusy Achard Nicholas v. Nicholas ( H ) Achard tle Ac ( h ) atour John alias John de Harden Reading ( Al 1320 d. 1381 ) le Akatour le Cat ( ) ur 50-6D 479-81 608 part 618-19 622-3 649 Married ( 1320 ) Florence Later married ( 1354 ) Margaret daughter John de Kyrkeby II Abraham Cokerel v. Abraham ( son ) Cokerel"

In [23]:
doc = nlp(example)
displacy.render(doc, style='ent')